// Base
// Links
// Typography
// Header
// Footer
// Nav
// Content


/* =========================================================

Base

============================================================ */

* {
	margin: 0;
}

html, body {
	font-size: 16px;
	height: 100%;
}





/* =========================================================

Header

============================================================ */


.header {
    background-image:
      -moz-linear-gradient(45deg, #000 25%, transparent 25%), 
      -moz-linear-gradient(-45deg, #000 25%, transparent 25%),
      -moz-linear-gradient(45deg, transparent 75%, #000 75%),
      -moz-linear-gradient(-45deg, transparent 75%, #000 75%);
    background-image:
      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #000), color-stop(.25, transparent)), 
      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #000), color-stop(.25, transparent)),
      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #000)),
      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, yellow), color-stop(.75, #000));

    -moz-background-size:50px 50px;
    background-size:50px 50px;
    -webkit-background-size:100px 101px; /* override value for shitty webkit */
    
    background-position:0 0, 50px 0, 50px -50px, 0px 50px;
	height: 9.2em;
	width: 100%;
}


.logo {
	color: #fff;
	font-size: 4em;
	text-align: center;
	padding-top: .25em;
}



