// Base
// Header
// Grid
// Nav
// Main


/* =========================================================

Base

============================================================ */

* {
	margin: 0;
}

html, body {
	font-size: 16px;
	height: 100%;
}




/* =========================================================

Grid

============================================================ */




/* =========================================================

Header

============================================================ */


.header {
	background-image:
      -moz-linear-gradient(45deg, #000 25%, transparent 25%), 
      -moz-linear-gradient(-45deg, #000 25%, transparent 25%),
      -moz-linear-gradient(45deg, transparent 75%, #000 75%),
      -moz-linear-gradient(-45deg, transparent 75%, #000 75%);
    background-image:
      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #000), color-stop(.25, transparent)), 
      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #000), color-stop(.25, transparent)),
      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #000)),
      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, yellow), color-stop(.75, #000));

    -moz-background-size:50px 50px;
    background-size:50px 50px;
    -webkit-background-size:100px 101px; /* override value for shitty webkit */
    
    background-position:0 0, 50px 0, 50px -50px, 0px 50px;
	height: 9.4em;
	width: 100%;
}



/* =========================================================

Grid

============================================================ */

.grid {
	clear: both;
}

.col1-2 {
	display: block;
	float: left;
	padding-right: 2%;
	width: 49%;
}

.col2-2 {
	display: block;
	float: right;
	width: 49%;
}


/* =========================================================

Nav

============================================================ */





.nav-list {
	background-color: #A9A9A9;
	border-bottom: 1px solid #000;
	list-style-type: none;
	text-align: right;
}


.nav-list-item {
	display: inline;	
}


.nav-list-item a {
	border-right: 1px solid #000000;
	color: #000;
	font-size: 1.5em;
	font-weight: bold;
	height: 2.5em;
	padding-left: .5em;
	padding-right: .5em;
	text-decoration: none;
	text-shadow: 1px 1px 1px #333333;
}


/* =========================================================

Main Content

============================================================ */

.main {
	margin-top: 1em;
	padding-left: 1em;
}


.main p{
	font-family: Sans-serif, Times, serif;
	font-size: 120%;
	font-weight: 600;
}


.welcome {
	margin-bottom: 1em;
	text-align: center;
}


.h3 {
	margin-bottom: 1em;
}


h3 span {
	font-size: 2em;
}


.tip-header {
	font-family: Sans-serif, Times, serif;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: underline;
}


.main ul {
	font-size: 1.2em;
	padding-bottom: 1em;
}


.main li {
	padding-bottom: .4em;
}



.main li:last-child {
	padding-bottom: 2em;
}

iframe {
	padding-bottom: 3em;
}